version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://mongo:27017/"
    ports:
      - "8081:8081"
    depends_on:
      - mongo

  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: productsdb
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  users:
    container_name: users
    build: ./users-service
    environment:
      - MONGO_URI=mongodb://mongo:27017/usersdb
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  products:
    container_name: products
    build: ./products-service
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: productsdb
      POSTGRES_HOST: postgres
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - users
      - products

volumes:
  mongo-data:
  pg-data:
