apiVersion: apps/v1
kind: Deployment
metadata:
  name: products
  namespace: microservices-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: products
  template:
    metadata:
      labels: { app: products }
    spec:
      containers:
      - name: products
        image: products:latest
        imagePullPolicy: IfNotPresent
        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: db-secrets
                key: POSTGRES_USER
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: db-secrets
                key: POSTGRES_PASSWORD
          - name: POSTGRES_DB
            valueFrom:
              secretKeyRef:
                name: db-secrets
                key: POSTGRES_DB
          - name: POSTGRES_HOST
            value: postgres
        ports:
          - containerPort: 8000
